.nav {
  grid-area: n;
  background-color: white;
  padding: 20px;
}
.item a{
  color: black;
  text-decoration: none;
  font-weight: 200;
  
}
.item a.active {
 font-weight: bold;
 border-style: solid;
 border-width: 1px;
 padding-left: 3px;
 padding-right: 3px;
}